body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: blueviolet;
    color: white;
}

h1 {
    border-bottom: solid black 1px;
}

h1:hover {
    font-size: large;
}

#algo {
    display: flex;
}