body {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    
}

section {
    background-image: url("https://images3.alphacoders.com/127/thumb-1920-127665.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 70%;
    margin-left: 15%;
}

h1, h2, p {
    text-align: center;
}

#amarelo {
    color: yellow;
}

img{
    height: 20%;
    width: 20%;
    margin-left: 40%;
}